.logo{
    width: 98px;
    margin-left: 10px;
}
#navbarSupportedContent{
  padding-left: 100px;
  font-size:medium;
  font-weight:bold;
}  
.nav-item a:hover{
  background-color:#D0B8A8;
  border-radius: 5px;
  transition: 0.5s;
}
li{
  padding-left: 10px;
}
i{
    padding-right: 10px;
    padding-top: 13px;
    }
.discount{
        margin-top: 5px;
        font-family:cursive;
        color:rgb(177, 111, 36);
        margin-bottom: 0px; 
        font-size:20px;
        font-weight:bold;
        }
 h2{
        text-align: center;
        background-color:#f3e9c7 ;
        margin-top: 40px;
        height: 150px;
        padding-top: 50px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
 hr{
        margin-top: 10px;
        }
 h4{
       padding-top: 60px;
        text-align: center;
        color: #91562f;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        }
 .cardbutton{
        text-decoration: none;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        border-color: rgb(151, 90, 49);
        height: 50px;
        width: 190px;
        padding-bottom: 20px;
        padding-right: 20px;
        font-size: large;
        font-weight: 400;
        color: rgb(151, 90, 49);
        background-color: white;
        font-weight: bold;
        }
 .cardbutton:hover{
        background-color:#88541d;
        color: rgb(252, 252, 247);
        transition:0.5s
        }
  #carticon{
        padding-right: 10px;
     }                     
 .card-text{
  font-size: large;
  padding-top: 2px;
  padding-left: 10px;
  font-weight: bold;
   font-family:sans-serif;
        }
#producticon{
padding-right: 20px;
color: #794208;
        }   
.colcard{
  object-fit: cover;
  text-align: center;
  padding: 40px;
  border-color: black;
  padding-left: 50px;
  transform: scale(1.05);
}
.card-bodygift{
    height: 170px;
}
.heading{
    font-weight: bold;
    color: #864908;
}
.featured{
       padding-top: 20px;
       text-align: center;
       color: #79360a;
       font-weight: 500;
       font-size:35px;
       text-decoration: underline;
       padding-bottom: 10px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
       height: 370px;
       margin-bottom: 50px;
       border-radius: 15px;
       overflow: hidden;
       box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
       transition: transform 0.3s;
   }
   .card:hover {
       transform: scale(1.05);
   }
   .image-container {
       position: relative;
       height: 100px;
       width: 1000%;     
       object-fit: cover; 
   }
   .card-img-top {
       width: 100%;       
       height: 200px;    
       object-fit: cover; 
   }

   .card-body {
       text-align: center;
       padding: 15px;
   }
   .card-title {
       font-size: 1.5rem;
       font-weight:400;
       margin-bottom: 10px;   
   }
   .card-text {
       font-size: 1rem;
       font-style: italic;
       color: #555;
   }
 .stars{
    color: rgb(248, 213, 12);
 }
#homecard{
    margin-top: 30px;
}
.Customer{
    text-align: center;
    margin-top: 80px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: xx-large;
   color: #8b4e07; 
}

.sets{
    text-align: center;
    margin-top: 90px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 40px;
   color: #a37a3b; 
   line-height: 50px;
}
